String Bir İfade Giriniz ve a değerine Atayınız

In [2]:
a="1"

Girdiğiniz String İfadenin Tipini Öğrenin

In [3]:
type(a)

str

Float Bir İfade Girin ve b değerine Atayınız

In [4]:
b=1.2

Girdiğiniz Float İfadenin Tipini Öğrenin

In [5]:
type(b)

float

İnteger Bir İfade Giriniz ve c değerine Atayınız

In [6]:
c=1

Girdiğiniz İnteger İfadenin Tipini Öğrenin

In [7]:
type(c)

int

Bir Liste Oluşturun ve d değerine atayın

In [8]:
d=[1,2,3,"a","b",1.2]

listeyi print fonksiyonunu kullanarak yazdırın

In [9]:
print(d)

[1, 2, 3, 'a', 'b', 1.2]

Bir Tuple(Demet) oluşturun

In [10]:
e=(1,2,3)

Oluşturduğunuz Tuple'ı Print fonksiyonu ile yazdırın

In [11]:
print(e)

(1, 2, 3)

Bİr String oluşturun ve a değerine atayın daha sonrasında ilk indexine Ulaşın

In [16]:
a = "NESNEYÖNELİMLİPROGRAMLAMA"
a[0]

'N'

Bİr String oluşturun ve a değerine atayın daha sonrasında son indexine Ulaşın

In [17]:
a[-1]

'A'

Bİr String oluşturun ve a değerine atayın daha sonrasında 4. indexten başlayacak şekilde son indexine Ulaşın

In [18]:
a[4:]

'EYÖNELİMLİPROGRAMLAMA'

Bİr String oluşturun ve a değerine atayın daha sonrasında String'in Uzunluğunu Bulun

In [19]:
len(a)

25

Bİr İnterger oluşturun ve a değerine atayın daha sonrasında Float İfadeye Çevirin

In [20]:
a=25

In [21]:
float(a)

25.0

Bİr Float oluşturun ve a değerine atayın daha sonrasında int' e çevirin

In [22]:
a=25.5

In [23]:
int(a)

25

Print fonksiyonunu kullanın ve print fonksiyonunun içine int,float ve str ifadeler ekleyip ekrana yazdırın

In [24]:
d=[1,2,3,"a","b",1.2]

Print fonksiyonunu kullanın ve print fonksiyonunun içine str ifadeler ekleyip alt alta yazdırın

In [25]:
print("Nesne","Yönelimli","Programlama",sep = "\n")

Nesne
Yönelimli
Programlama

Print fonksiyonunu kullanın ve print fonksiyonunun içine str ifadeler ekleyip aralarında boşluk bırakarak yazdırın

In [26]:
print("Ocak\tMart\tŞubat")

Ocak	Mart	Şubat

In [28]:
print("06","04","2015",sep = "/")

06/04/2015

Print fonksiyonunu kullanın ve print fonksiyonunun içine int ifadeler ekleyip sep parametresi ile str ifadelerin arasına gelecek . / gibi işaretleri belirleyin

In [27]:
print(3,4,5,6,7,8,9,sep = ".")

3.4.5.6.7.8.9

"3 + 4 'nin toplamı 7 'dır" ifadesinin formatlı bir şekilde yazılmasını sağlayın

In [3]:
a = 3
b = 4
"{} + {} 'nin toplamı {} 'dır".format(a,b,a+b)

"3 + 4 'nin toplamı 7 'dır"

Bir Liste oluşturun ve a değerine atayın daha sonrasında ilk indeksine ulaşın

In [30]:
liste =  [3,4,5,6,"Elma",3.14,5.324]

In [31]:
liste[0]

3

Bir Liste oluşturun ve b değerine atayın daha sonrasında baştan başlayacak şekilde 2. indekse kadar yazdırın

In [32]:
liste[:2]

[3, 4]

Bir Liste oluşturun ve c değerine atayın daha sonrasında append metodunu kullanarak ekleme yapın

In [33]:
liste = [3,4,5,6]
liste.append(7)
liste

[3, 4, 5, 6, 7]

Bir Liste oluşturun ve d değerine atayın daha sonrasında pop metodunu kullanarak son indeksi düşürün

In [34]:
liste = [1,2,3,4,5]
liste.pop(1)

2

Bir Liste oluşturun ve e değerine atayın daha sonrasında sort metodunu kullanarak sıralayın

In [35]:
liste = [34,1,56,334,23,2,3,19]
liste.sort() # Küçükten büyüğe sıralar.
liste

[1, 2, 3, 19, 23, 34, 56, 334]

Bir Liste oluşturun ve e değerine atayın daha sonrasında sort metodunu kullanarak sıralayın

In [36]:
liste.sort(reverse = True) # Büyükten küçüğe sıralar.
liste

[334, 56, 34, 23, 19, 3, 2, 1]

3 + 4 'nin toplamı 7 'dır çıktısını print fonksiyonunu ve Formatı kullanarak yazdırın

In [37]:
a = 3
b = 4
"{} + {} 'nin toplamı {} 'dır".format(a,b,a+b)

"3 + 4 'nin toplamı 7 'dır"

Liste Oluşturun

In [38]:
a=[1,2,3]

Tuple oluşturun

In [39]:
a=(1,2,3)

Input Fonsiyonu ile kullanıcıdan 2 sayı alın ve bunların toplamını formatlı bir şekilde yazdırın

In [4]:
a=int(input())
b=int(input())

print("{} {} toplamı {} dir".format(a,b,a+b))

15
15
15 15 toplamı 30 dir

### Karşılaştırma Operatörleri 

<table class="table table-bordered">
<tr>
<th style="width:10%">Operatör</th><th style="width:45%">Görevi</th><th>Örnek</th>
</tr>
<tr>
<td>==</td>
<td>İki değer birbirine eşitse True, değilse False değer döner.</td>
<td> 2 == 2 (True) ,  2 == 3 (False)</td>
</tr>
<tr>
<td>!=</td>
<td>İki değer birbirine eşit değilse True, diğer durumda False döner.</td>
<td>2 != 2 (False), 2 != 3 (True)</td>
</tr>
<tr>
<td>&gt;</td>
<td>Soldaki değer sağdaki değerden büyükse True, değilse False döner. </td>
<td> 3 > 2 (True), 2 > 3 (False)</td>
</tr>
<tr>
<td>&lt;</td>
<td>Soldaki değer sağdaki değerden küçükse True, değilse False döner.</td>
<td> 2 &lt; 3 (True) , 3 &lt; 2 (False) </td>
</tr>
<tr>
<td>&gt;=</td>
<td>Soldaki değer sağdaki değerden büyükse veya sağdaki değere eşitse True, değilse False döner.</td>
<td> 3 &gt;= 2 (True),3 &gt;= 3 (True) , 2 &gt;= 3 (False)</td>
</tr>
<tr>
<td>&lt;=</td>
<td>Soldaki değer sağdaki değerden küçükse veya sağdaki değere eşitse True, değilse False döner.</td>
<td> 3 &lt;= 2 (False),3 &lt;= 3 (True) , 2 &lt;= 3 (True) </td>
</tr>
</table>

If ile yaş kontrolü yaparak ehliyet almak için sınava girip giremeceğini ekrana yazdırın

In [43]:
yas=int(input())
if yas<18:
    print("Sınava Giremezsiniz. Yaşınız:",yas)
else:
    print("Sınava Girebilirsiniz")

18
Sınava Girebilirsiniz

Öğrenciden sınavdan kaç puan aldığını öğreniniz. Sonrasında 90-AA,85-Ba,80-BB,75-CB,70-CC,65-DC, 60-dd ve diğer durumlarda kalacak şekilde ayarlayınız. input, if-elif ve else kullanılacak

In [44]:
note = float(input("Notunuzu giriniz:"))

if note >= 90:
    print("AA")
elif note >= 85:
    print("BA")
elif note >= 90:
    print("BA")
elif note >= 80:
    print("BB")
elif note >= 75:
    print("CB")
elif note >= 70:
    print("CC")
elif note >= 65:
    print("DC")
elif note >= 60:
    print("DD")
else:
    print("Dersten Kaldınız")

Notunuzu giriniz:78
CB

Bir kullanıcıdan bir sayı alın ve bu sayının pozitif, negatif veya sıfır olduğunu belirleyen bir kod yazın

In [45]:
sayı=int(input())
if sayı<0:
    print("Negatif")
else:
    print("Pozitif Sayı")

-5
Negatif

Önceki konumuzda koşullu durumlarımızla sadece tek bir koşulu kontrol edebiliyorduk. Ancak programlamada bir durum bir çok koşula bağlı olabilir. Örneğin bir hesap makinesi programı yazdığımızda kullanıcının girdiği işlemlere göre koşullarımızı belirleyebiliriz. Bu tür durumlar için if-elif-else kalıplarını kullanırız. Kullanımı şu şekildedir;

               if koşul: 
                   Yapılacak İşlemler
               elif başka bir koşul:
                   Yapılacak İşlemler
               elif başka bir koşul:
                   Yapılacak İşlemler
                   
                    //
                    //
               else:
                   Yapılacak İşlemler 
Programlarımızda, Kaç tane koşulumuz var ise o kadar elif bloğu oluşturabiliriz. Ayrıca **else** in yazılması zorunlu değildir. if - elif - else kalıplarında, hangi koşul sağlanırsa program o bloğu çalıştırır ve if-elif-blokları sona erer.
Şimdi isterseniz kullanıcıya işlem seçtirdiğimiz bir programla , bu kalıbı öğrenmeye başlayalım.

3 + 4 'nin toplamı 7 'dır çıktısını print fonksiyonunu ve Formatı kullanarak yazdırın



Liste Oluşturun



Tuple oluşturun



Input Fonsiyonu ile kullanıcıdan 2 sayı alın ve bunların toplamını formatlı bir şekilde yazdırın



### Karşılaştırma Operatörleri 

<table class="table table-bordered">
<tr>
<th style="width:10%">Operatör</th><th style="width:45%">Görevi</th><th>Örnek</th>
</tr>
<tr>
<td>==</td>
<td>İki değer birbirine eşitse True, değilse False değer döner.</td>
<td> 2 == 2 (True) ,  2 == 3 (False)</td>
</tr>
<tr>
<td>!=</td>
<td>İki değer birbirine eşit değilse True, diğer durumda False döner.</td>
<td>2 != 2 (False), 2 != 3 (True)</td>
</tr>
<tr>
<td>&gt;</td>
<td>Soldaki değer sağdaki değerden büyükse True, değilse False döner. </td>
<td> 3 > 2 (True), 2 > 3 (False)</td>
</tr>
<tr>
<td>&lt;</td>
<td>Soldaki değer sağdaki değerden küçükse True, değilse False döner.</td>
<td> 2 &lt; 3 (True) , 3 &lt; 2 (False) </td>
</tr>
<tr>
<td>&gt;=</td>
<td>Soldaki değer sağdaki değerden büyükse veya sağdaki değere eşitse True, değilse False döner.</td>
<td> 3 &gt;= 2 (True),3 &gt;= 3 (True) , 2 &gt;= 3 (False)</td>
</tr>
<tr>
<td>&lt;=</td>
<td>Soldaki değer sağdaki değerden küçükse veya sağdaki değere eşitse True, değilse False döner.</td>
<td> 3 &lt;= 2 (False),3 &lt;= 3 (True) , 2 &lt;= 3 (True) </td>
</tr>
</table>

If ile yaş kontrolü yaparak ehliyet almak için sınava girip giremeceğini ekrana yazdırın



Öğrenciden sınavdan kaç puan aldığını öğreniniz. Sonrasında 90-AA,85-Ba,80-BB,75-CB,70-CC,65-DC, 60-dd ve diğer durumlarda kalacak şekilde ayarlayınız. input, if-elif ve else kullanılacak



Bir kullanıcıdan bir sayı alın ve bu sayının pozitif, negatif veya sıfır olduğunu belirleyen bir kod yazın







Önceki konumuzda koşullu durumlarımızla sadece tek bir koşulu kontrol edebiliyorduk. Ancak programlamada bir durum bir çok koşula bağlı olabilir. Örneğin bir hesap makinesi programı yazdığımızda kullanıcının girdiği işlemlere göre koşullarımızı belirleyebiliriz. Bu tür durumlar için if-elif-else kalıplarını kullanırız. Kullanımı şu şekildedir;

               if koşul: 
                   Yapılacak İşlemler
               elif başka bir koşul:
                   Yapılacak İşlemler
               elif başka bir koşul:
                   Yapılacak İşlemler
                   
                    //
                    //
               else:
                   Yapılacak İşlemler 
Programlarımızda, Kaç tane koşulumuz var ise o kadar elif bloğu oluşturabiliriz. Ayrıca **else** in yazılması zorunlu değildir. if - elif - else kalıplarında, hangi koşul sağlanırsa program o bloğu çalıştırır ve if-elif-blokları sona erer.
Şimdi isterseniz kullanıcıya işlem seçtirdiğimiz bir programla , bu kalıbı öğrenmeye başlayalım.

Bir Liste Oluşturun ve For Döngüsü ile liste içerisinde gezinin

In [3]:
liste = [1,2,3,4,5,6,7]

for a in liste:
    print("i",a)

i 1
i 2
i 3
i 4
i 5
i 6
i 7

Bir liste oluşturun ve listenin elemanlarını toplayın

In [7]:
liste = [1,2,3,4,5,6,7]
toplam = 0
for eleman in liste:
    toplam += eleman
print("Toplam",toplam)

Toplam 28

Bir Liste Oluşturun ve Listedeki çift elemanları ekrana yazdırın

In [4]:
# Çift elemanları bastırma
liste = [1,2,3,4,5,6,7,8,9]

for eleman in liste:
    if eleman % 2 == 0:
        print(eleman)

2
4
6
8

Basit bir While döngüsü oluşturun

In [9]:
i = 0 

while (i < 10):
    print("i'nin değeri",i)
    i += 1 # Koşulun bir süre sonra False olması için gerekli - Unutmayalım

i'nin değeri 0
i'nin değeri 1
i'nin değeri 2
i'nin değeri 3
i'nin değeri 4
i'nin değeri 5
i'nin değeri 6
i'nin değeri 7
i'nin değeri 8
i'nin değeri 9

20 ye kadar gidecek şekilde while döngüsü oluşturun ancak 2'şer atlayarak gitsin

While döngüsü ile ekrana 20 kere Nesne Yönelimli Programlama yazdırın

In [10]:
i=0
while i<20:
    print("Nesne Tabanlı Programlama")
    i+=1

Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama
Nesne Tabanlı Programlama

For döngüsü yazın ancak range i kullanın

In [12]:
for sayı in range(0,10):
    print(sayı)

0
1
2
3
4
5
6
7
8
9

Break komutunu kullanarak while döngüsü yazın. Koşul= 10 olduğunda döngü sonlansın

In [ ]:
i = 0 # break kullanmaya çalışalım.

while (i < 20):
    print(i)
    if (i == 10):
        break # i'nin değeri 10 olunca bu koşul sağlanıyor ve  break ifadesiyle karşılaşıldığı için döngü anında sona eriyor.
    i +=1

For döngüsü ile break ifadesini kullanın. Koşul= 5 olduğunda döngü bitecek. Önce liste oluşturun, sonra for dönüsünü yazın ve if ile koşulunuzu belirtin

In [16]:
liste = [1,2,3,4,5,6,7,8,9]
for i in liste:
    if (i == 5):
        break
    print(i)

1
2
3
4

10 a kadar bir liste oluşturun ve for dönügüsü yazarak içerisinde gezmesini sağlayın devamında 3 ve 5 olduğunda atlamasını sağlayın. Önce liste oluşturulacak, for dönügüsü yazılacak ve continue ile atlanması sağlanacak

In [ ]:
liste = [1,2,3,4,5,6,7,8,9] # continue kullanalım.


for i in liste:
    if (i == 3 or i == 5):
        continue
    print("i:",i)

Her bir while döngüsünde kullanıcıdan bir sayı alın ve kullanıcının girdiği sayıları "toplam" isimli bir değişkene ekleyin. Kullanıcı "q" tuşuna bastığı zaman döngüyü sonlandırın ve ekrana "toplam değişkenini" bastırın.

In [1]:
toplam = 0

while True:
    
    sayı = input("Sayı:")
    
    if (sayı == "q"):
        break
    sayı = int(sayı);
    
    toplam += sayı
    
print("Girdiğiniz Sayıların Toplamı:",toplam)

Sayı:5
Sayı:5
Sayı:5
Sayı:q
Girdiğiniz Sayıların Toplamı: 15

1'den 10'kadar olan sayılarla ekrana çarpım tablosu bastırmaya çalışın.

***İpucu: İç içe 2 tane for döngüsü kullanın. Aynı zamanda sayıları range() fonksiyonunu kullanarak elde edin.***

In [5]:
for i in range(1,11):
    print("*************************************************")
    for j in range(1,11):
        
        print("{} x {} = {}".format(i,j,i*j))

*************************************************
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
*************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
*************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
*************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
*************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
*************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
*************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
*************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
*************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
*************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100